* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 background: radial-gradient(circle at center, #00c853, #004d40, #001510);


}

.container {
  display: grid;
  place-items: center;
  width: 250px;
  padding: 60px 0 40px;
  border-radius: 30px;
  background: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

/* Dice Faces */
.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

/* Dots Layout */
.front::after {
  width: 30px;
  height: 30px;
  background: #f63330;
  margin: -15px 0 0 -15px;
}

.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0, 0 40px, 40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px, 50px 50px;
}

/* Roll Button */
.roll {
  cursor: pointer;
  color: #b33951;
  margin-top: 60px;
  padding: 6px 12px;
  border-radius: 4px;
  font: 700 16px "Montserrat";
  border: 2px solid #b33951;
  transition: 0.4s;
}

.roll:hover {
  color: #fff;
  background: #b33951;
}
